.content {
  position: absolute;
  // z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ui-elements {
  text-align: center;
  display: flex;
  flex-direction: row;
  // align-items: center;
  justify-content: space-around;
  background: transparent;
  background-color: rgb(206, 131, 32);
  width: 100vw;
  top: 10px;
  transform-origin: 0%;
}

.logo-img {
  width: 315px;
  // height: auto;
}

.close-btn {
  cursor: pointer;
  position: relative;
  bottom: 370px;
  left: 310px;
}

.close {
  position: absolute;
  right: 10px;
}
.close :hover {
  transform: rotate(360);
  // transition: rotate ;
}
.close-icon {
  width: 80px;
  height: auto;
  position: relative;
  left: 320px;
  bottom: 315px;
}

.close {
  cursor: pointer;
}

.togglebtntrue {
  padding: 10px;
  background-color: tomato;
  color: whitesmoke;
  position: absolute;
  right: -10px;
  top: 120px;
  cursor: pointer;
  // transform: rotate(-90deg);
  border-radius: 5px;
}
.togglebtnfalse {
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(31, 29, 29);
  color: whitesmoke;
  position: absolute;
  right: -10px;
  top: 120px;
  cursor: pointer;
  // transform: rotate(-90deg);
}

@media screen and (max-width: 765px) {
  .close-btn {
    position: relative;
    bottom: 315px;
    left: 300px;
  }

  .logo-img {
    width: 40vw;
  }
}

@media screen and (max-width: 550px) {
  .togglebtntrue {
    // bottom: ;
    top: 120px;
    padding: 7px;
  }

  .togglebtnfalse {
    // bottom: ;
    padding: 7px;
    top: 120px;
  }
}

// iframe {
//   width: 100%;
//   height: 100%;
// }
